@font-face {
	font-family: 'me';
	src:url('../res/fonts/me.eot?yvot45');
	src:url('../res/fonts/me.eot?#iefixyvot45') format('embedded-opentype'),
		url('../res/fonts/me.woff?yvot45') format('woff'),
		url('../res/fonts/me.ttf?yvot45') format('truetype'),
		url('../res/fonts/me.svg?yvot45#me') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'me';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-preview:before {
	content: "\e61a";
}

.icon-clock:before {
	content: "\e616";
}

.icon-fave:before {
	content: "\e617";
}

.icon-logout:before {
	content: "\e618";
}

.icon-myprofile:before {
	content: "\e619";
}

.icon-publish:before {
	content: "\e611";
}

.icon-download:before {
	content: "\e612";
}

.icon-duplicate:before {
	content: "\e613";
}

.icon-manage:before {
	content: "\e614";
}

.icon-print:before {
	content: "\e615";
}

.icon-attachment:before {
	content: "\e60b";
}

.icon-delete:before {
	content: "\e60c";
}

.icon-edit:before {
	content: "\e60d";
}

.icon-export:before {
	content: "\e60e";
}

.icon-mail:before {
	content: "\e60f";
}

.icon-add:before {
	content: "\e60a";
}

.icon-arrow:before {
	content: "\e609";
}

.icon-dashboard:before {
	content: "\e610";
}

.icon-report:before {
	content: "\e608";
}

.icon-calendar:before {
	content: "\e600";
}

.icon-configer:before {
	content: "\e601";
}

.icon-downarrow:before {
	content: "\e602";
}

.icon-event:before {
	content: "\e603";
}

.icon-locator:before {
	content: "\e604";
}

.icon-payment:before {
	content: "\e605";
}

.icon-promote:before {
	content: "\e606";
}

.icon-search:before {
	content: "\e607";
}