
.fancybox-margin {
	margin-right: 0px;
}

.site-header {
/*height: 60px;
background: rgba(0,0,0,0.7);*/
height: 80px;
/*background-color: #e7eaec;
border-bottom:1px solid #d5d6d7;*/

background-color: #FFF;
/*border-bottom:1px solid #EEEEEE;
*/
border-bottom:1px solid #FDDA24;
position: relative;
z-index: 100;
width: 100%;
top: 0;
left: 0;
}

.winners-header {
margin: 0 0 40px 0;
}

.wrap {
width: 100%;
margin: 0 auto;
position: relative;
}

.onScrollContainer {
*zoom:1;
	-moz-transition: opacity 0.3s linear, visibility 0.3s linear;
	-o-transition: opacity 0.3s linear, visibility 0.3s linear;
	-webkit-transition: opacity 0.3s linear, visibility 0.3s linear;
	transition: opacity 0.3s linear, visibility 0.3s linear;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	/*background-color: #e7eaec;
	border-color: #d5d6d7;*/
	background-color: #FFF;
/*border-bottom:1px solid #EEEEEE;*//*d5d6d7*/
border-bottom:1px solid #FDDA24;/*d5d6d7*/
	color: #000;
	/*z-index: 10 !important;*/
	/*z-index: 1001*/
}
.onScrollContainer {
height: 90px;
}
.onScrollContainer .navbar-nav > li > a{
	padding-top: 16px;
	padding-bottom: 15px;
}

.onScrollContainer .locSearchContainer{
	position: absolute;
	/*top: 24px;
	left: 220px;*/
	top: 34px;
	left: 280px;
	/* margin-right: -281px; width: 65%;*/padding: 0px 20px;}
.onScrollContainer .locSearchContainer a{font-size:20px}
.onScrollContainer .logo{font-size:20px;}
.onScrollContainer .locSearchContainer{font-size:16px}
.onScrollContainer:after {
	content: "";
	display: table;
	clear: both
}


/*header select dropdown option*/
.onScrollContainer .selCountry{float: left;margin-top: 26px; margin-left:20px;}


/*.onScrollContainer--active .selCountry{float: left;margin-top: 19px; margin-left:130px; margin-top: 19px; margin-left:130px;}*/
.onScrollContainer--active .selCountry {
    float: left;
    /*margin-left: 0;
    margin-top: 19px;*/
    margin-left: 20px;
    margin-top: 26px;
}


.onScrollContainer--active .countryhome {margin-top:30px;margin-left: 180px !important;/*margin-left: 130px !important;*/}
.onScrollContainer .locSearchContainer .accTextCont .btn{border-bottom: none;font-size: 28px;color: #222;font-weight: 100;right: -639px;/*top: -20px;*//*position: absolute;*/}

/*header select dropdown option end*/
/*header*/
.onScrollContainer .accTextCont{position:relative; background:#fff; margin-top:17px; padding:10px 20px;}
.onScrollContainer .accTextCont li a.btn.showMore {
	background: #FFFFFF;
	margin: 0;
	font-size: 14px;
	color: #5b5b5b;
	padding-top: 9px!important;
	display: inline-block;
	right:-160px !important;
}
.onScrollContainer .showMoreCat{background:#fff; padding:20px;
background: #fff;
	padding: 20px;
	/* margin-left: -82px; */
	width: 100%;
	border-top: 1px solid #cecece;
}
/*.onScrollContainer .dropdown-menu{min-width:220px;}*/
.onScrollContainer .navbar-nav > li > .dropdown-menu li a{ font-size:14px;/* padding:10px 15px;*/}
.onScrollContainer .navbar-nav > li > a{color: #515151; font-size:35px;}
.onScrollContainer .navbar-nav > li > .dropdown-menu li a:hover{color:#ba36a6; background:none;}
.onScrollContainer .search-container{ right:70px; top:45px;}
.onScrollContainer .search:focus{width:75%; height:55px;top: -36px;}
.onScrollContainer input.search::-webkit-input-placeholder {
	font-size: 22px;
	line-height:30px;
}
.onScrollContainer input::-moz-placeholder {


}
.onScrollContainer input:-moz-placeholder {   /* Older versions of Firefox */


}
.onScrollContainer input:-ms-input-placeholder { 


}
.onScrollContainer .dropdown-menu{   top: 70px; right: -10px;}

.onScrollContainer .dropdown-menu.menu{/* top:25px !important */top:45px !important}

.onScrollContainer .icon-menuset:hover{color:#ba36a6}
.onScrollContainer__site-logo{/*left:20px;*/ padding-top:10px;}
.onScrollContainer .topContainer{margin: 0 auto; width:1170px;}
.onScrollContainer .navbar-right{position:absolute; right:15px;}


@media (max-width: 1024px) {
.selCountry {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}
}

/*header end*/
@media (min-width: 768px) {
.onScrollContainer {
	/*height: 70px;*/
	height: 80px
}

}
.onScrollContainer--active {
	opacity: 1;
	visibility: visible;
	z-index:999
}
.onScrollContainer__site-logo {
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	text-transform: capitalize;
	background: url('') no-repeat 0 0;
	background-size: contain;
	display: block;
	/*width: 76px;
	height: 43px;*/
	width: 187px;
    height: 68px;
	position: absolute;
	left: 15px;
	top: 4px;
	border: 0;
	z-index: 110
}

@media (min-width: 768px) {
.onScrollContainer__site-logo {
	top: 0/*14px*/;
	left: 0/*25px*/;
	/*width: 126px;
	height: 76px;*/
	/*width: 179px;
    height: 56px;*/
        z-index: 10;
}
}

@media (min-width: 1024px) {
.onScrollContainer__site-logo {
	/*left: 20px*/
}
}
.onScrollContainer__cta {
	display: none
}

@media (min-width: 1024px) {
.onScrollContainer__cta {
	*zoom:1;
	display: block;
	background: #fff;
	color: #000;
	height: 90px;
	position: absolute;
	right: 0;
	top: 0;
	width: 28.125%;
	padding: 25px 25px 0 25px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px
}
.onScrollContainer__cta:after {
	content: "";
	display: table;
	clear: both
}
.onScrollContainer__cta:after {
	content: "";
	position: absolute;
	width: 10000em;
	left: 100%;
	height: 90px;
	z-index: -1;
	top: 0;
	background: #fff
}
}
.onScrollContainer__cta .icon {
	float: left;
	margin-right: 7px;
	margin-left: -15px
}
.onScrollContainer__search {
	display: none
}
/*.onScrollContainer ul li{display:inline-block;}*/
@media (min-width: 1024px) {
.onScrollContainer__search {
	background: #000;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 13px;
	right: 0;
	z-index: 110;
	display: block;
	width: 52px;
	height: 52px;
	-moz-transition: color linear, background-color linear;
	-o-transition: color linear, background-color linear;
	-webkit-transition: color linear, background-color linear;
	transition: color linear, background-color linear
}
}

@media (min-width: 1024px) and (min-width: 768px) {
.onScrollContainer__search:hover {
	-moz-box-shadow: inset 0 0 0 4px;
	-webkit-box-shadow: inset 0 0 0 4px;
	box-shadow: inset 0 0 0 4px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff !important;
	color: #000 !important
}
}

@media (min-width: 1024px) {
.onScrollContainer__search .icon-search {
	font-size: 23px;
	top: -6px;
	left: -5px
}
}
.onScrollContainer__filter-container {
	float: right;
	margin-right: 23px
}

@media (min-width: 768px) {
.onScrollContainer__filter-container {
	width: 74.5%;
	margin-top: 26px
}
}

@media (min-width: 1024px) {
.onScrollContainer__filter-container {
	width: 79%
}
}
.onScrollContainer__filter {
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
	float: left
}
.onScrollContainer__filter--category {
	margin-left: 25px
}

@media (min-width: 768px) {
.onScrollContainer__filter--category {
	margin-left: 58px
}
}
.onScrollContainer__label {
	height: 60px;
	line-height: 60px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative
}

@media (min-width: 768px) {
.onScrollContainer__label {
	height: auto;
	line-height: 11px;
	margin-bottom: 9px
}
}
.onScrollContainer__label:after {
	content: "\e601";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	font-size: 14px;
	top: 2px;
	left: 5px
}

@media (min-width: 768px) {
.onScrollContainer__label:after {
	display: none
}
}

@media (min-width: 768px) {
.onScrollContainer__filter--category .onScrollContainer__label {
	float: left
}
}
.onScrollContainer__category {
	display: none
}

@media (min-width: 768px) {
.onScrollContainer__category {
	display: block;
	float: left;
	color: #999;
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	text-transform: uppercase;
	margin-bottom: 9px;
	margin-left: 8px
}
}
.onScrollContainer__selected {
	display: none
}

@media (min-width: 768px) {
.onScrollContainer__selected {
	display: block;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	position: relative
}
.onScrollContainer__selected:after {
	content: "\e601";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	font-size: 18px;
	top: 2px;
	left: 7px
}
}

@media (min-width: 1024px) {
.onScrollContainer__selected {
	font-size: 18px;
	line-height: 23px
}
}
.onScrollContainer__selected--year {
	text-transform: uppercase
}

@media (min-width: 768px) {
.onScrollContainer__selected--category {
	clear: left
}
.onScrollContainer__selected--category span {
	display: inline-block;
	max-width: 500px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top
}
}
.onScrollContainer__overlay-close {
	background: #fff;
	color: #000;
	width: 70px;
	height: 60px;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 24px;
	z-index: 999
}

@media (min-width: 768px) {
.onScrollContainer__overlay-close {
	width: 85px;
	height: 85px
}
}

@media (min-width: 1024px) {
.onScrollContainer__overlay-close {
	display: none
}
}
.onScrollContainer__overlay {
	display: none;
	background: #000;
	color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	top: 0;
	left: 0;
	z-index: 9990;
	padding: 20px
}

@media (min-width: 768px) {
.onScrollContainer__overlay {
	padding: 30px 48px
}
}

@media (min-width: 1024px) {
.onScrollContainer__overlay {
	background: #f4f4f4;
	color: #000;
	width: 50%;
	top: 90px;
	left: 0;
	height: auto;
	position: absolute;
	padding: 25px 40px;
	min-width: 350px;
	overflow: visible
}
.onScrollContainer__overlay--category {
	width: 100%;
	padding-bottom: 0
}
}
.onScrollContainer__overlay.active {
	display: block
}
.onScrollContainer__overlay .onScrollContainer__label {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 70px
}

@media (min-width: 768px) {
.onScrollContainer__overlay .onScrollContainer__label {
	font-size: 22px;
	margin-bottom: 75px
}
}

@media (min-width: 1024px) {
.onScrollContainer__overlay .onScrollContainer__label {
	display: none
}
}
.onScrollContainer__overlay .onScrollContainer__label:after {
	display: none
}

@media (min-width: 1024px) {
.onScrollContainer__list--year {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3
}
.onScrollContainer__list--year .mod-winners-nav__item {
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	page-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid
}
.lt-ie9 .onScrollContainer__list--year, .ie9 .onScrollContainer__list--year {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%
}
}

@media (min-width: 1024px) {
.onScrollContainer__list--category {
	display: table;
	width: 100%
}
}
.onScrollContainer__item {
	margin: 0 0 13px 0;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold
}

@media (min-width: 768px) {
.onScrollContainer__item {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 22px
}



}

@media (min-width: 1024px) {
.onScrollContainer__item {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 15px;
	font-weight: normal
}
}

@media (min-width: 1024px) {
.onScrollContainer__item--category {
	float: left;
	vertical-align: bottom;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0 40px 0 0;
	text-transform: uppercase
}
.onScrollContainer__item--category>.onScrollContainer__link {
	color: #000;
	font-weight: bold;
	position: relative;
	display: table-cell;
	height: 50px;
	vertical-align: bottom;
	padding-top: 0;
	padding-bottom: 20px;
	border-bottom: 3px solid transparent
}
.onScrollContainer__item--category>.onScrollContainer__link:after {
	display: none
}
.onScrollContainer__item--category>.onScrollContainer__link.active, .onScrollContainer__item--category>.onScrollContainer__link:hover {
	font-weight: bold;
	color: #000;
	border-bottom: 3px solid #000
}
}
.onScrollContainer__item--category:hover>.onScrollContainer__link {
	font-weight: bold;
	color: #000;
	border-bottom: 3px solid #000
}
.onScrollContainer__link {
	color: #fff;
	border-bottom: 1px solid transparent
}
.onScrollContainer__link:hover {
	color: #fff
}
.onScrollContainer__link.active {
	font-weight: bold;
	border-bottom: 1px solid #fff
}

@media (min-width: 1024px) {
.onScrollContainer__link {
	color: #000
}
.onScrollContainer__link.active, .onScrollContainer__link:hover {
	color: #000;
	border-bottom: 1px solid #000
}
}
.onScrollContainer__link--dropdown {
	position: relative
}
.onScrollContainer__link--dropdown:after {
	content: "+";
	line-height: 1;
	position: relative;
	font-size: 18px;
	top: 0;
	left: 8px
}

@media (min-width: 320px) and (max-width: 1023px) {
.onScrollContainer__item.active .onScrollContainer__link--dropdown {
	border: 0
}
.onScrollContainer__item.active .onScrollContainer__link--dropdown:after {
	content: "-"
}


}
.onScrollContainer__submenu {
	display: none
}

@media (min-width: 1024px) {
.onScrollContainer__submenu {
	background: #f4f4f4;
	width: auto;
	top: 75px;
	left: 0;
	height: auto;
	position: absolute;
	padding: 30px 40px;
	width: 100%;
	z-index: 9990;
	border-top: 1px solid #ccc
}
.onScrollContainer__item:hover .onScrollContainer__submenu {
	display: block
}




}

@media (min-width: 320px) and (max-width: 1023px) {
.onScrollContainer__item.active .onScrollContainer__submenu {
	display: block
}
}
.onScrollContainer__submenu-list {
	padding: 20px 20px 5px 20px
}

@media (min-width: 1024px) {
.onScrollContainer__submenu-list {
	padding: 0;
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5
}
.onScrollContainer__submenu-list li {
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	page-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid
}
.lt-ie9 .onScrollContainer__submenu-list, .ie9 .onScrollContainer__submenu-list {
	display: inline-block;
	vertical-align: top;
	width: 20%
}
}
.onScrollContainer__submenu-list .onScrollContainer__item {
	margin: 0 0 15px 0;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal
}

@media (min-width: 1024px) {
.onScrollContainer__submenu-list .onScrollContainer__item {
	margin-bottom: 15px;
	margin-right: 30px
}
}
.onScrollContainer__submenu-list .onScrollContainer__link {
	color: #fff;
	border-bottom: 1px solid transparent
}
.onScrollContainer__submenu-list .onScrollContainer__link.active, .onScrollContainer__submenu-list .onScrollContainer__link:hover {
	color: #fff;
	border-bottom: 1px solid #fff
}

@media (min-width: 1024px) {
.onScrollContainer__submenu-list .onScrollContainer__link {
	color: #000;
	text-transform: none
}
.onScrollContainer__submenu-list .onScrollContainer__link:hover {
	color: #000;
	border-bottom: 1px solid #000
}
.onScrollContainer__submenu-list .onScrollContainer__link.active {
	color: #000;
	border-bottom: 1px solid #000;
	font-weight: bold
}




}


@media (max-width: 768px) {
.onScrollContainer .topContainer{width:100%; margin:0 auto;}

}


@media (min-width: 1024px) and (max-width: 1200px) {
.onScrollContainer .topContainer{width:100%; margin:0 auto;}

}




@media (min-width: 1024px) {
@-moz-document url-prefix() {
.onScrollContainer .onScrollContainer__search .icon-search {
left:0
}
}
}
