
.BreakingNewsController {
    background: #ddd none repeat scroll 0 0;
    height: auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 96%;
}
.BreakingNewsController .bn-title {
    background: #e62948 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: left;
    height: 50px !important;
    padding: 10px 20px;
}
.BreakingNewsController ul {
    display: block;
    left: 180px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50px;
}
.BreakingNewsController ul li {
    display: none;
    list-style: outside none none;
    padding: 10px 20px;
}
.BreakingNewsController ul li a {
    color: #333;
    display: inline-block;
    font-size: 18px;
    height: 50px !important;
    line-height: 30px !important;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
}
.BreakingNewsController .bn-arrows {
    bottom: 0;
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.BreakingNewsController .bn-arrows span {
    bottom: 0;
    cursor: pointer;
    display: block;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 20px;
}
.BreakingNewsController .bn-arrows span:hover {
    opacity: 1;
}
.BreakingNewsController .bn-arrows-left {
    background: rgba(0, 0, 0, 0) url("../img/bn-arrows.png") no-repeat scroll left center;
    left: 0;
}
.BreakingNewsController .bn-arrows-right {
    background: rgba(0, 0, 0, 0) url("../img/bn-arrows.png") no-repeat scroll right center;
    right: 10px;
}
.easing a, .easing span {
    transition: all 0.25s linear 0s;
}
#breakingnews2 {
    margin-left: 5px !important;
}
#breakingnews2 .disc-code-bg {
    background: #d71a4f none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    padding: 2px 15px;
}
@media (min-width: 320px) and (max-width: 680px) {
#breakingnews2 {
    height: 50px !important;
}
.BreakingNewsController ul li a {
    font-size: 13px;
    line-height: 20px !important;
}
}
@media (min-width: 681px) and (max-width: 940px) {
.BreakingNewsController ul li a {
    font-size: 14px;
    line-height: 20px !important;
}
}
