{% extends 'AdminBundle:Emails:Template.html.twig' %}
{% block content %}

    <h3 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 27px; margin: 0 0 15px; padding: 0;">مرحبا, {{ name }}</h3>
    <p class="lead" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 17px; line-height: 1.6; margin: 0 0 10px; padding: 0;">تم إنشاء الحساب من قبل المشرف مع هذا البريد الإلكتروني <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">{{ email }}</strong> وتسجيل الدخول كلمة المرور <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">{{ password }}</strong>  .</p>



    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">يرجى التحقق من حسابك و الدخول مع تفاصيل محددة. يمكنك تغيير كلمة المرور الخاصة بك بمجرد دخولك</p>
{% endblock %}    
