{% extends 'AdminBundle:Emails:Template.html.twig' %}
{% block content %}

    <h3>مرحبا, {{ name }}</h3>
    <p class="lead">تم استلام الطلب، نأمل منك إعادة تعيين كلمة المرور الخاصة بك.  بالدخول على الرابط </p>



    <a href="{{ url('_member_resetpassword',{'code':code})}}" class="btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #34495e !important; margin: 0 0 10px; padding: 3px 7px;">اعادة تعيين كلمة السر</a>
    <p>و نسخ الرابط أدناه في شريط العنوان الخاص بك إذا فوق زر لا يعمل</p>
    <p class="callout">
        {{ url('_member_resetpassword',{'code': code })}}
    </p>
    <br/>
    <br/>
{% endblock %}    
