{% extends 'AdminBundle:Emails:Template.html.twig' %}
{% block content %}

    <h3>مرحبا, {{ name }}</h3>
    <p class="lead">تم استلام طلبك، نأمل منك إعادة تعين كلمة المرور الخاصة بكم بالدخول الى الرابط ادناه لتعيين كلمة المرور . يرجى الدخول إلى هذا الرابط ل إعادة ضبط كلمة المرور الخاصة بك وتكون قادرة على الوصول إلى الموقع.</p>
    <a href="{{ url('_admin_resetpassword',{'code':code})}}" class="btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #34495e !important; margin: 0 0 10px; padding: 3px 7px;">اعادة تعيين كلمة السر</a>
    <p>أو نسخ الرابط أدناه في شريط العنوان الخاص بك إذا فوق زر لا يعمل.</p>
    <p class="callout">
        {{ url('_admin_resetpassword',{'code': code })}}
    </p>
    <br/>
    <br/>
{% endblock %}    
