@charset "UTF-8";

/* Smaller than 1385 (devices and browsers) */
@media only screen and (max-width: 1385px) {
	.last-news-container {width: 900px;}
	.slides-navigation a.next {right: -40px;}
	.slides-navigation a.prev {left: -40px;}
}

/* Smaller than 1215 (devices and browsers) */
@media only screen and (max-width: 1215px) {
	.main-wrapper {width: 940px;}
	.disc-container li:nth-child(2), .disc-container li:nth-child(5), .disc-container li:nth-child(8), .disc-container li:nth-child(11), .disc-container li:nth-child(14) {margin: 0 40px;}
	/* .disc-container li {width: 286px;} */
	.disc-container li {width: 196px;}
	#myTweet {width: 940px;}
	.nav-news .news-next {right: -60px;}
	.nav-news .news-prev {left: -60px;}
	.project-content {width: 940px;}
	.disc-cover {width: 395px; margin-right: 20px;}
	.disc-tracklist ol{margin: 0;}
	.disc-tracklist ol li{line-height: 12px;}
	.audio-player {width: 940px;}
	.player-right {width: 830px;}
	.main-menu li a {padding: 7px 8px;}
	.main-menu {margin-right: 50px;}
	.main-logo {margin-left: 50px;}
	.slides-navigation{display: none;}
}

/* Smaller than 1085 (devices and browsers) */
@media only screen and (max-width: 1085px) {
	.main-wrapper {width: 700px;}
	.last-news-container {width: 600px;}
	.disc-container li:nth-child(2), .disc-container li:nth-child(5), .disc-container li:nth-child(8), .disc-container li:nth-child(11), .disc-container li:nth-child(14) {margin: 0 25px;}
	.disc-container li {width: 256px; margin-bottom:40px !important}
	#myTweet {width: 700px;}
	.news-container iframe {width: 600px; height: 338px;}
	.news-container {width: 600px;}
	.news-description {font-size: 17px;}
	.nav-news div {top: 130px;}
	.project-content {width: 700px;}
	.disc-cover {width: 275px;}
	.disc-tracklist {width: 405px;}
	.disc-tracklist ol li {padding: 0;}
	.track-download-buy{display: block; line-height: 14px; margin: 14px 0 18px;}
	.close-btn {right: -50px;}
	.sell-platforms {position: absolute;left: 0; margin-top: 30px;}
	.sell-platforms span{margin-top: 18px;}
	#Banner { width:100%; height:auto; } #Banner img{ width:100%; height:auto;}
}

/* Smaller than standard 976 (devices and browsers) */
@media only screen and (max-width: 976px) {
.last-news-wrapper-left{ width: 100%; margin:0; float:left} 
.last-news-wrapper-right{ width: 100%;  margin:0; float:left } 
	.main-menu{display: none;}
	.header {height: 100px;}
/* 	.main-logo {margin-top: 40px;} */
	.main-logo {margin-top: 20px;}
	#nav2 {display: block;}
	.audio-player {width: 700px;}
	.player-right {width: 580px;}
	.title-container {width: 700px;}
	.title-container .logo img {width: 700px;}
	.top-spacer {width: 100px;}
	.welcome.logo .spacer-box {left: 333px; top: 166px;}
	.close-btn {right: -30px;}
	#Banner { width:100%; height:auto;} #Banner img{ width:100%; height:auto;}
}

/* All Mobile Sizes (devices and browser) */


@media only screen and (min-width: 480px) and (max-width:600px) {
	.disc-container li:nth-child(3) { }
}
@media only screen and (min-width: 700px) and (max-width:800px) {

.disc-container ul{ padding-left:0 !important;}

.disc-container li {
height:400px;
    float: left !important;
    margin: auto 10px !important;
    width: 200px !important;
}

}
@media only screen and (max-width: 795px) {

	.dates-nav{display: none;}
	/* .main-wrapper {width: 400px;} */
	.main-wrapper {width: 480px;}
	.last-news-container {width: 300px;}
	.last-news-next {right: -70px;}
	.last-news-prev {left: -70px;}
	.dates-wrapper {margin-left: 0x;}
	.title-container {width: 400px;}
	.title-container .logo img {width: 400px;}
	.top-spacer {width: 60px; top: 7px; height: 2px;}
	.welcome.logo .spacer-box {left: 192px;top: 97px;width: 10px;height: 10px;}
	.audio-player {width: 400px;}
	#myTweet {width: 400px; font-size: 20px;}
	.disc-container li {width: 350px; float: none; margin: auto; }
	.disc-container li:nth-child(2), .disc-container li:nth-child(5), .disc-container li:nth-child(8), .disc-container li:nth-child(11), .disc-container li:nth-child(14) {margin: 75px auto}
	.front-content.contact {width: 400px; margin-left: -204px;}
	.symbol {font-size: 20px; line-height: 22px;}
	.navbar-brand ul li:first-child {height: 10px;margin-top: 10px;}
	.navbar-brand ul li:nth-child(2) {height: 16px;margin-top: 4px;}
	.navbar-brand ul li {width: 5px;height: 20px;}
	.player-right {width: 290px;margin-left: 20px;}
	.track-name, .artist {max-width: 213px;max-height: 30px;overflow: hidden;}
	.news-container {width: 340px;}
	.news-container iframe {width: 340px;height: 192px;}
	.close2-btn {right: -50px;top: -50px;}
	.news-description{max-height: 250px;}
	.footer-container {width: 300px;}
	.footer-container .social-ico {width: 140px; height: 140px; margin-left: 80px; margin-bottom: 80px; float: none;}
	.footer-container .social-ico.s-facebook {background-position: -5px -5px;}
	.footer-container .social-ico.s-youtube {background-position: -255px -5px;}
	.footer-container .social-ico.s-plus {background-position: -252px -131px;}
	.footer-container .social-ico.s-twitter {background-position: -125px -5px;}
	.footer-container .social-ico.s-soundcloud {background-position: -5px -135px;}
	.footer-container .social-ico:nth-child(3), .footer-container .social-ico:nth-child(4),.footer-container .social-ico:nth-child(5) {margin-left: 80px;margin-top: 80px;}
	.square-bg {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		margin-left: 0;
		opacity: 0.5;
	
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.project-content {width: 400px;}
	.close2-btn {right: 0; top: -70px;}
	.news-container h1 {font-size: 20px;}
	.disc-cover img{display: none;}
	.disc-tracklist {width: 400px; float: none;}
	.sell-platforms{width: 400px;}
	.track-info,.track-length {font-size: 15px;}
	.disc-cover {width: 400px;margin-right: 0; float: none;}
	.disc-tracklist ol {max-height: 360px;}
	.disc-title {font-size: 17px; margin-top: 50px;}
	.disc-date {font-size: 17px; margin-bottom: 25px;}
	#Banner { width:100%; height:auto;} #Banner img{ width:100%; height:auto;}
	
	.dates-wrapper-box { width:100%;}
}
@media only screen (min-width: 340px) and (max-width: 768px) {
	/* .disc-container li:nth-child(3) { */
	.disc-container li {
		margin: 0 0px 0 0 !important;
	}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 640px) {
.main-wrapper { text-align:justify;}
.tc-list, .tc-list1 { padding-left:0 !important;}
	.nested-list > li { padding-left:15px !important; line-height:20px;}
	.disc-container ul{ padding-left:0 !important;}
	menu { padding-left:0 !important;}
section h1 { margin:60px 0 10px;}
.spacer { margin: auto auto 20px;}
}
@media only screen and (max-width: 479px) {
	.main-wrapper {width: 300px;}
	.title-container {width: 300px;}
	.title-container .logo img {width: 300px;}
	.audio-player {width: 300px;}
	#myTweet {width: 300px; font-size: 18px; padding: 0; margin-top: 50px;}
	.welcome.logo ul li {font-size: 15px;}
	.top-spacer {width: 45px;top: 4px;}
	.welcome.logo .spacer-box {left: 143px;top: 71px;}
	.welcome.logo ul li.t-current {top: 13px;}
	.track-name, .artist {max-width: 110px;max-height: 25px;}
	.player-right {width: 190px;margin-left: 20px;}
	.square-bg {width: 100%;height: 100%;top: 0;left: 0;margin-left: 0;}
	.disc-container li {width: 300px;}
	.front-content.contact {width: 280px;margin-left: -140px;}
	.name, .email {width: 100%;float: none;}
	.email{margin-top: 18px;}
	.buttoncontact {width: 280px; margin-top: 25px;}
	.color-picker{display: none;}
	.news-container {width: 300px;}
	.news-container iframe {width: 300px;height: 169px;}
	.news-nav div {top: 620px;}
	.last-news-next {right: 0px;}
	.last-news-prev {left: 0px;}
	.dates-wrapper {width: 350px; margin-left: 0;}
	..dates-wrapper-box {width: 350px; margin-left: 0;}
	/*.date-box {padding: 0 50px;}*/
	.date-box .info.date {width: 50px;}
	.date-box .info .day {font-size: 17px;}
	.date-box .info .city {font-size: 15px;}
	.date-box .info {font-size: 12px;}
	.date-box .info {max-width: 115px;}
	.date-box .info .ico{display: none;}
	.date-box .info .time, .date-box .info .buy, .date-box .info .place{padding-left: 0;}
	.main-logo {margin-left: 20px;}
	.twitter-quotes{margin-top: 50px;}
	.front-content.dates {width: 100%;}
	#comments, #name, #email {width: 97%;}
	.nav-news, .news-nav {display: none;}
	.close2-btn {right: 0; top: -70px;}
	.news-container h1 {font-size: 20px;}
	.disc-cover img{display: none;}
	.disc-tracklist {width: 300px; float: none;}
	.sell-platforms{width: 300px;}
	.track-info,.track-length {font-size: 12px;}
	.disc-cover {width: 300px;margin-right: 0; float: none;}
	.disc-tracklist ol {max-height: 300px;}
	.disc-title {font-size: 15px; margin-top: 50px;}
	.disc-date {font-size: 15px; margin-bottom: 25px;}
	.close-btn {right: 0;}
	.disc-container li:nth-child(3) { }
	.project-content {width: 300px;}
	#Banner { width:100%; height:auto;} #Banner img{ width:100%; height:auto; }
	
}

/* Mobile Portrait Size to Mobile (devices and browsers) */
@media only screen and (max-width: 320px) {
	
}