@charset "utf-8";
/* CSS Document */
.form-group {
    overflow: hidden!important;
}
.skin-blue .main-header .logo {
    background:#6eae93!important;
}
.main-sidebar, .left-side {
    padding-top:60px!important;
}
.skin-blue .main-header .logo {
    min-height:60px!important;
    line-height:56px!important;
}
.main-header .sidebar-toggle {
    padding:20px 15px!important;
}
.skin-blue .main-header .navbar {
    background:#6eae93!important;
}
.skin-blue .wrapper {
    background-color: #dfebe9!important;
}
.skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #dfebe9!important; border-right:1px solid #d0e5de;
}
.skin-blue .sidebar a {color:#212121!important;}

.content-wrapper, .right-side {background: #fff!important;}

.skin-blue .sidebar-menu>li>a:hover {background:#aad3c1!important; border-left:3px solid #6eae93!important;}

.main-footer {font-size: 11px; border-top:1px solid #d0e5de!important; background: #dfebe9!important;}

.box.box-info {border-top-color: #6eae93!important;}

.tab-content {
    background:#fff;
    padding:20px;
    border:1px solid #ccc;
    border-top:none;
}
.nav-tabs-custom>.nav-tabs>li>a, .nav-tabs-custom>.nav-tabs>li>a:hover {
    background:#1a58a3;
}
.nav > li > a i {
    margin-right: 6px;
}

/* Today Styles */
.table-bordered,.table-bordered tr td,.table-bordered tr th{ border-color: #E9E9E9!important;}
.table-bordered tr th{ border-bottom: 1px solid #ccc!important;}

/*
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#F5F5F5!important;
}
.table>thead>tr>th 
{
    background-color:#E0E0E0;
    color:#616161!important;
}
*/

.direct-chat-messages {
    height:350px!important;
}

.navbar-brand {
    height:60px!important;
}

.navbar-nav>li>a {
    height:60px;
    line-height:30px!important;
}
.navbar-nav>.user-menu .user-image {
    margin-top:1px!important;
    width:30px!important;
    height:30px!important;
}

.mar_video {
    margin-top:150px;
}

.btnmar {
    margin:3px 0px!important;
    padding:3px 6px!important;
}

.chat-panel-height {
    height:64vh;
}

.chat-message-window {
    height:56vh!important;
    	overflow: auto;
}

.chat-control {
    height:16vh!important;
}

.color_blue {
    background:#1a58a3; color:#fff;
}

.color_grey {
    background:#424242; color:#fff;
}

.color_aqua {
    background:#d1def0; color:#fff;
}

.pad_top_botm {
    padding:20px 0px;
}

.flash-notice{ 
    background: #6eae93; padding: 10px; margin-bottom: 15px; color: hsl(170, 23%, 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}
.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.control-label{font-weight: 400; color:#546E7A;}

.spacer20{ height: 20px; display: block;}
.page-header{ border-bottom: 1px solid #CFD8DC;}
.box-info{ border: 1px solid #CFD8DC; border-top-width: 2px;}
.multiple-select-box{ border: 1px solid #eee; list-style: none; margin: 0px; padding: 0px;  display: block; max-height: 200px; overflow: auto;    }
.multiple-select-box li{ border-bottom: 1px solid #eee; padding: 5px; margin: 0px;}
.multiple-select-box li:nth-child(odd){ background: #f5f5f5;}
.multiple-select-box li label{ font-size: 14px; font-weight: 400; display: block;}
.multiple-select-box li label:hover{ cursor: pointer;}

label.error{ font-weight: 400!important; margin-top: 5px; margin-bottom: 0px; font-size: 12px; color:#f44336;}
.empty-message{ font-size: 16px; font-style: italic; text-align: center; padding: 60px 0px; color: #90A4AE;}
.dashInfo{font-size: 26px;}
.dashBody{padding: 30px 15px !important; }



.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.info-box {background: #f4f4f4!important;}

.btn-themeblue {
    background-color: #33518e;
    border-color:#2f4d89;
    color:#ffffff;
}

.btn-themeblue:hover {
    background-color: #435f97;
    color:#ffffff;
}

.chart-legend li {line-height: 30px;}

*{font-family: 'Roboto', sans-serif;}

.box-header {background: #aad3c1; color:#fff!important;}
.box-header .box-tools i{color:#000;}
.box-title {color:#000; font-weight: normal;}
.themeorange {background-color: #ffbd67!important; color: #fff;}
.tabbable-custom .box-header {background: none!important;}
.themelightblue {background-color: #4d7cb4!important; color: #fff;}
.sidebar-menu>li>a>.fa {width:15px; text-align: right; margin-right: 10px;}
.table>thead>tr>th {background: #aad3c1; font-weight: 500;}
.table-striped>tbody>tr:nth-of-type(odd) {background-color: #f4f4f4;}


