{% extends extend_view %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-content">
                <div class="page-header"><h4>Change Password</h4></div>
                <div class="row">
                    <form class="form-horizontal" method="post" name="" id="changePassword">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Old Password <span class="red-text">*</span></label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" dir='ltr' id="" placeholder="Old Password" name ="oldpassword"  >
                                {% if error.oldpassword is defined %}<div class="form-error-content">{{ error.oldpassword }}</div>{% endif %}
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">New Password <span class="red-text">*</span></label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" dir='ltr' placeholder="New Password" name="newpassword" id="newpassword"  >
                                {% if error.newpassword is defined %}<div class="form-error-content">{{ error.newpassword }}</div>{% endif %}
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Confirm Password <span class="red-text">*</span></label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" dir='ltr' id="" placeholder="Confirm Password" name="confirmpassword"  >
                                {% if error.confirmpassword is defined %}<div class="form-error-content">{{ error.confirmpassword }}</div>{% endif %}
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-primary" name="submit" value="Save Password" >Save Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $().ready(function () {



            $("#changePassword").validate({
                rules: {
                    oldpassword: {
                        required: true,
                        minlength: 3,
                        maxlength: 25
                    },
                    newpassword: {
                        required: true,
                        minlength: 3,
                        maxlength: 25
                    },
                    confirmpassword: {
                        required: true,
                        equalTo: "#newpassword"
                    }
                },
                messages: {
                    oldpassword: {
                        required: "Please enter old password",
                        minlength: "Password must contain atleast 3 characters",
                        maxlength: "Password must not exceed more than 25 characters"
                    },
                    newpassword: {
                        required: "Please enter new password",
                        minlength: "Password must contain atleast 3 characters",
                        maxlength: "Password must not exceed more than 25 characters"
                    },
                    confirmpassword: {
                        required: "Password mismatch",
                        equalTo: "Password mismatch"
                    }
                }
            });

        });
    </script>
{% endblock %}
