.DS_Store
index.php
sitemap/
results.xml
results1.xml
results2.xml
results_funmango.xml
images/content/temp/*
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
images/content/temp/
ctrl/userfiles/
index.php
application/config/config.php
application/config/database.php
application/config/solrconfig.php
application/config/memcached.php
ctrl/MT/cGlobali.php
application/logs/*
dataport/
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/
/MyProject.komodoproject
/favicon.ico
