{% extends extend_view %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12"">
                <div class="page-header">
                    <h1>Contact Us</h1>
                </div>
                <div class="spacer20"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum nisi eget mi mollis laoreet. Morbi non dignissim tellus, vitae blandit urna Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi non dignissim.Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Nullam elementum nisi eget mi mollis laoreet. Morbi non dignissim tellus, vitae
                    blandit urna Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi non dignissim.</p>
            </div>
        </div>
    </div>
    
{% endblock %}