
<html>
    <body >
        <table cellspacing="0" cellpadding="60" border="0"  background=""> 
            <tr > 
                <td  >
                    <p></p>
                    <p style=" text-align: center; color: #6F2720;">
                        يسرُّ جامعة دار الحكمة أن تمنح  <br/>

                        {{ name }}<br/>

                        شهادة لحضورها برنامج المعلم القدوة الرابع <br/>
                        {{ training }}<br/>
                        {{ trainingtime }}<br/>
                        مع تمنايتنا لها بدوام التوفيق والتقدم<br/>
                    </p>
                    <p></p>

                </td> 
            </tr> 

        </table>
    </body>
</html>