{% extends extend_view %}
{% block content %}
    <!-- HERO UNIT -->
    <section class="hero-unit-slider no-margin">
        <div id="carousel-hero" class="slick-carousel">
            <div class="main-background1">
                <div class="background-image"><br>                   
                    <h2>{{ 'common.ResetPassword'|trans }}</h2>
                    <br>
                    <form role="form" method="POST" action="" id="resetpassword-form">
                        <div class="row row-spacing">
                            <div class="col-md-4">{{ 'common.newPassword'|trans }}:</div>
                            <div class="col-md-4"><input type="password" name="newpassword" dir='ltr' id="newpassword" class="form-control squared"  /></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-4">{{ 'common.confirmPassword'|trans }}:</div>
                            <div class="col-md-4"><input type="password" name="confirmpassword" dir='ltr'  class="form-control squared"  /></div>
                            <div class="col-md-4"></div><br>
                        </div>                       
                        <div class="row row-spacing">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><button type="submit" class="btn btn-primary">{{ 'common.submit'|trans }}</button></div>
                            <div class="col-md-4"></div>
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- END HERO UNIT -->
    <br/>

{% endblock %}