
<html>
    <body >
        <table cellspacing="0" cellpadding="90" border="0"  background=""> 
            <tr > 
                <td  >
                    <p></p>
                    <p></p>
                    <p></p>
                    <p style=" text-align: center; color: #6F2720;">
                        {{ name }}  <br/>

                        {{ workshop }}<br/>

                        التي عقدت في الجامعة في <br/>

                        {{ trainingtime }} <br/>

                        مع تمنايتنا لها بدوام التوفيق و التقدم<br/>

                    </p>
                    <p style="text-align: left !important ;  color: #6F2720;">
          ندىرة نركز المعلم القدهة<br/>
         الدكتورة / ننى كرىم
                    </p>
                </td> 
            </tr> 

        </table>
    </body>
</html>